<footer class='text-center text-white' style='background-color: #d5d5d5;'>
  <div class='text-center text-dark p-3'>
    Author: Eduard Hutsaliuk
    <a class='text-dark' href='mailto:vinmorfico@gmail.com'>
      vinmorfico@gmail.com
    </a>
  </div>
</footer>